.btn-warp
  padding 1rem
  button
    width 100%
    height 2rem
  button
    height 2rem
    line-height 2rem
    background #ffffff
    border 1px solid #000000
    color #000000
    outline: none
  button.primary
    background #108ee9
    border 1px solid #108ee9
    color #ffffff
  button.warning
    background #e94f4f
    border 1px solid #e94f4f
    color #ffffff
  button.default
    background #ffffff
    color #000000
  button.green
    background #23BDBD
    border 1px solid #23BDBD
    color #ffffff
.btn-warp.large
  button
    height 2.5rem
    line-height 2.5rem
// .btn-warp.small