@import './../../stylus/color.styl'

.home
    position absolute
    width 100%
    height 100%
    .home-hb
        height 120px
        overflow hidden
        margin-top: 1rem
        padding: 0 .5rem
        color: $color_red
        h4
            padding-left: .5rem
            border-left: 1px solid $color_red
            margin-bottom: .5rem
        img
            max-width 100%
