.swipe
  position relative
  width 100%
  overflow hidden
  height 147px
  margin-top 2rem
  ul
    position absolute
    height 100%
    overflow hidden
    li
      height 100%
      float left
      img
        max-width 100%
